* { }
html, body { height: 100%; margin:0; padding:0;}
table {
    width: 100%;
}
td, th {
    padding: 3px;
    text-align: center;
}

#header {
    top: 0;
    width: 100%;
}

#logo {
    height: 72px;
}

#hamburger {
    width: 64px;
    height: 100%;
    cursor: pointer;
    position: absolute;
    right: 0;
    display: none;
    background: url(../images/burgermenu.svg) no-repeat scroll 0 0 transparent;
    background-position: center;
    z-index: 100;
}

.inner_content {
    width: auto;
    max-width: 1260px;
    margin: 0 auto;
    position: relative;
}

/* smart phones*/
@media only screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
        text-align: left;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    #results thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tbody tr {
        background-color: #ededed;
        margin: 5px 0 15px 0;
        padding: 10px 10px;
        text-align: left;
        -webkit-box-shadow: -1px 7px 16px -2px rgba(102,101,102,0.64);
        -moz-box-shadow: -1px 7px 16px -2px rgba(102,101,102,0.64);
        box-shadow: -1px 7px 16px -2px rgba(102,101,102,0.64);
    }

    #hamburger {
        display: inline-block;
    }

    #filters {
        position: absolute;
        top: 0;
        background-color: #333;
        color: #cccccc;
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    #results tbody td {
        padding: 10px 0 10px 0;
    }
}
/* main content*/
#content
{
    display:table;
    width: 100%;
    height: 100%;
    margin-top: -76px;
    padding-top: 75px;
}

.columns {
    display: table-cell;
    vertical-align: top;
}

#filters {
    width: 200px;
    padding: 0 0 20px 5px;
}

#results {
    padding: 5px 10px 0 10px;
}

.bg_color {
    background-color: #dedede;
}

